*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.container{
  margin-top: 5%;
  height: 90%;
}

.todolist{
  height: 80vh;
}

.todolistscroll{
  height: 80vh;
  overflow-y: scroll;
}

form{
  margin: 7% 0 7% 0;
}